body {
    background: linear-gradient(to left, #F8E8A6, #eddd82);
    font-family: sans-serif;
}

.container {
    text-align: center;
    margin-top: 30px;
}

p {
    line-height: 2;
    letter-spacing: 2px;
    margin: 0 20px;
}

.links {
    margin: 20px;
}

.links a {
    color: #008035;
    margin: 0 30px;
}